<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Choose your own adventure</title>
</head>

<body>
    <div class="flex-center-container">
        <div class="box">
            <div class="title">
                Title is here
            </div>
            <div class="cnt">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, labore sapiente. Modi, eum incidunt,
                    harum sequi vero perferendis alias, repellendus natus dolore similique veniam. Incidunt unde eaque quas
                    odio quibusdam.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, labore sapiente. Modi, eum incidunt,
                    harum sequi vero perferendis alias, repellendus natus dolore similique veniam. Incidunt unde eaque quas
                    odio quibusdam.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, labore sapiente. Modi, eum incidunt,
                    harum sequi vero perferendis alias, repellendus natus dolore similique veniam. Incidunt unde eaque quas
                    odio quibusdam.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, labore sapiente. Modi, eum incidunt,
                    harum sequi vero perferendis alias, repellendus natus dolore similique veniam. Incidunt unde eaque quas
                    odio quibusdam.
                </p>
            </div>
            <div class="navigation">
                <div class="flex-row-between">
                    <a class="link" href="#">Alo</a>
                    <a class="link" href="#">Be</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>